@model emarket.Models.Cart
    <div>
        <p style="text-align:center; font-family:'Times New Roman', Times, serif;color:red;font-size:xx-large;">
        Sorry! ....
        </p> <br />
        <p style="text-align: center;font-family: 'Times New Roman', Times, serif;color: red;font-size: xx-large;"> 
        This Product Is Already Exists In Your Cart .. 
        </p> <br />
        <p style="text-align: center;font-family: 'Times New Roman', Times, serif;color: red;font-size: xx-large;">
        Please Check Your Cart Before Click On Product . 
        </p>
    </div>

