<head>
    <style>
        h3{
            font-family:Arial;
            color:white;
     
             
        }
    </style>
</head>
<footer style= "bottom:0;position:relative;width:100%;background-color:black"> 


    

    <div class="container">

        <h3> Name : Nour Maher   &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp &nbsp  Id : 20170602 ,&nbsp &nbsp &nbsp &nbsp    Name : Mina Nasr    &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp  Id : 20170582</h3>
        <h3> Name : Mariam Awad  &nbsp &nbsp &nbsp&nbsp&nbsp &nbsp &nbsp  Id : 20170517, &nbsp &nbsp &nbsp &nbsp    Name : Mariana Samir&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp &nbsp  Id : 20170513</h3>
        <h3> Name : Malak Mamdouh  &nbsp &nbsp &nbsp &nbspId : 20170557 ,&nbsp &nbsp &nbsp &nbsp    Name : Poula Benjamen&nbsp &nbsp &nbsp &nbsp  Id : 20160112</h3>
    </div>
</footer>
<!-- Footer -->